<h1>Chill out and watch movies</h1>

<p>Create a list and organize movies by your preference</p>
<%= link_to "Create a new list", new_list_path, class: "btn btn-info" %>


<div class="mt-5">
<p>Those are the lists that you already created:</p>
  <div>
    <% @lists.each do |list| %>
      <div>
        <%# <div> %>
          <%# <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill  %>
          <%= link_to list.name, list_path(list) %>
        <%# </div> %>
      </div>
    <% end %>
  </div>
</div>

<%= cl_image_tag("kxtptt99oxxig1gzbect",
      width: 400, height: 250, crop: :fill) %>

<%= cl_image_tag("injywyeh7okvwufkxmgp",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
